* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 15px;
}

.section {
  padding: 50px 20px;
}

.block-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 250px;
}

.input {
  width: 250px;
}

.input__error {
  font-size: 12px;
  color: red;
}

.form__cities {
  position: relative;
}

.cities__input-wrapper {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.dropdown__button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 30px;
}

.dropdown__button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 7px;
  border-bottom: 10px solid black;
  border-right: 10px solid transparent;
  transform: rotate(-45deg);
}

.cities__error {
  display: none;
}

.cities__list-wrapper {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 2;
  background-color: white;
}

.cities__list {
  width: 250px;
  height: 300px;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
  border: 1px solid black;
}

.cities__item {
  padding: 10px 5px;
  line-height: 18px;
}

.cities__item:hover {
  color: red;
}

.name__error {
  display: none;
}

.surname__error {
  display: none;
}

.phone__error {
  display: none;
}

.hidden {
  display: none;
}

.comment__input {
  max-width: 250px;
}

/* ============ Cargo ============ */

.cargo__inputs {
  display: flex;
}

.cargo__widht-box {
  margin-right: 20px;
}

.cargo__drawing-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: max-content;
  min-height: 200px;
  height: max-content;
}

.cargo__drawing {
  min-width: 20px;
  min-height: 20px;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time__error {
  display: none;
}
