* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #e0ffff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section {
  padding: 50px 20px;
}

.delivery__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  max-width: 250px;
}

.input {
  width: 250px;
  border: 2px solid #bc8f8f;
  border-radius: 5px;
}

.input__error {
  font-size: 12px;
  color: red;
  padding: 5px 0 0 0;
}

.form__cities {
  position: relative;
}

.cities__input-wrapper {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.dropdown__button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 30px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.dropdown__button::after {
  position: absolute;
  content: "";
  top: 2px;
  right: 7px;
  border-bottom: 10px solid #8b4513;
  border-right: 10px solid transparent;
  transform: rotate(-45deg);
}

.cities__error {
  display: none;
}

.cities__list-wrapper {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 2;
  background-color: white;
}

.cities__list {
  width: 250px;
  height: 300px;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
  border: 1px solid black;
}

.cities__item {
  padding: 10px 5px;
  line-height: 18px;
}

.cities__item:hover {
  color: red;
}

.name__error {
  display: none;
}

.surname__error {
  display: none;
}

.phone__error {
  display: none;
}

.hidden {
  display: none;
}

.comment__input {
  max-width: 250px;
}

/* ============ Cargo ============ */

.cargo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__cargo-dimensions {
  width: 100%;
}

.cargo__inputs {
  display: flex;
}

.cargo__width-box {
  margin: 0;
  max-width: 50%;
}

.cargo__height-box {
  margin: 0;
  max-width: 50%;
}

.cargo__input {
  max-width: 50%;
}

.cargo__range {
  max-width: 75%;
}

.cargo__drawing-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-height: 200px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.cargo__drawing {
  min-width: 20px;
  min-height: 20px;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__date-box {
  margin-bottom: 15px;
}

.date__input {
  max-width: max-content;
}

.date__error {
  display: none;
}

.time__input {
  max-width: max-content;
}

.time__error {
  display: none;
}

.form__buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.button {
  font-family: "Josefin Sans", sans-serif;
  line-height: 2;
  width: 70px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: none;
  transition: all 0.2s linear;
}

.button:hover {
  scale: 1.1;
}

.confirm-button {
  background-color: #90ee90;
}

.reset-button {
  background-color: #fa8072;
}

/* ================ Modal ================= */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(150, 150, 150, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
}

.modal__box {
  background-color: #e0ffff;
  border-radius: 20px;
  padding: 15px;
}

.cargo__info-box {
  display: flex;
  flex-direction: column;
}

.cargo__span:not(:last-child) {
  margin-bottom: 10px;
}

.modal__buttons {
  display: flex;
  justify-content: space-around;
}

.modal__cancel {
  background-color: #fa8072;
}

.modal__submit {
  background-color: #90ee90;
}

.modal-span {
  font-family: "Roboto", sans-serif;
  color: black;
}

.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 530px) {
  .cargo__inputs {
    flex-direction: column;
  }

  .cargo__width-box {
    min-width: 100%;
    margin-bottom: 15px;
  }

  .cargo__height-box {
    min-width: 100%;
  }
}
