// Fonts

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v19-latin-regular.woff2') format('woff2');
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/source-sans-pro-v19-latin-600.woff2') format('woff2');
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-sans-pro-v19-latin-700.woff2') format('woff2');
}

// Root

:root {
  // Fonts

  --main-font:
}


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	scroll-behavior: smooth;
	font-size: 100%;
	// font-family: $main-font;
	min-height: 100vh;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: none;
	}
}