.tm-header {
  background-color: #032541;
  padding: 20px 0;
}

.logo {
  display: flex;
  justify-content: end;
  align-items: center;

  &__link {
  display: inline-block;
  width: 155px;
  }

  &__image {
    width: 100%;
  }
}

.nav {
  &__list {
  display: flex;
  }

  &__item {
    position: relative;
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: var(--white);
    padding: 8px;

    &:hover {
      color: var(--white);
    }
  }
}

.nav-popup {
  position: absolute;
  top: 35px;
  left: 0;
  background: var(--white);
  padding: 15px 20px;
  width: 180px;
  border-radius: 5px;

  &__item {
    margin-bottom: 10px;
    border-left: 1px solid transparent;


    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    padding: 3px;
    letter-spacing: .05em;

    &:hover {
      color: var(--black);
    }
  }
}