.tm-header {
  background-color: #032541;
  padding: 20px 0;
}

.logo {
  &__link {
  display: block;
  width: 155px;
  }

  &__image {
    width: 100%;
  }
}

.nav {
  &__list {
  display: flex;
  }

  &__item {
    margin-right: 30px;
  }

  &__link {
    font-weight: 600;
    line-height: 1.5;
    color: var(--white);
  }
}

